body{
    font-family: Roboto, sans-serif;
}
/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:#e5e5eb;
    font-size:18px;
    padding-top:20px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:50px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
ul{
    display:flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px
}

/*Content 1*/

.content1 {
    background-color: #1f2937;
    color:#e5e5eb;
    font-size:18px;
    display:flex;
    flex-direction: column;
    padding-top:20px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:50px;
}
.herotext{
    
    font-weight:900;
    font-size: 48px;
    color: #f9faf8;
    max-width: 400px;
}
p {
    max-width: 460px;
}
button{
    color:#e5e5eb;
    background-color: #3882f6;
    padding:7px 30px;
    font-size:18px;
    font-weight: bold;
    max-width: 130px;
    border:0;
    border-radius:14px;
}

/*Content 2*/
.title {
    display:flex;
    justify-content: center;
    font-size:36px;
    font-weight: 900;
    color: #1f2937;
    padding:30px;
}

.sec2li{
    display:flex;
    justify-content: center;
}
.li{
    max-width: 150px;
}
.sec2buttons{
    display:flex;
    justify-content: center;
    background-color: white;
}


