body{
    font-family: Roboto, sans-serif;
}
* {
    margin:0;
    padding:0;
}
/*Header*/
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:#e5e5eb;
    font-size:18px;
    padding-top:20px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:50px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
ul{
    display:flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px
}

/*Content 1*/
.betteralign{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:#e5e5eb;
    font-size:18px;
}
.content1 {
    display:flex;
    flex-direction: column;
    padding-top:20px;
    padding-left:200px;
    padding-right:200px;
    padding-bottom:50px;
    
}
.herotext{
    
    font-weight:900;
    font-size: 48px;
    color: #f9faf8;
    max-width: 400px;
}
p {
    max-width: 460px;
}
.sec1button{
    color:#e5e5eb;
    background-color: #3882f6;
    padding:7px 30px;
    font-size:18px;
    font-weight: bold;
    max-width: 130px;
    border:0;
    border-radius:14px;
}
.forimg{
    margin-right: 270px;
    background-color: grey;
    padding:100px 100px;
    

}

/*Content 2*/
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size:36px;
    font-weight: 900;
    color: #1f2937;
    padding:30px;
}
.betteralign2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec2li{
    padding-top:10px ;
}  
li {
    padding-left: 8px;
    padding-right: 10px;
    max-width: 150px;
    padding-bottom: 70px;
    line-height: 20px;
    text-align: center;
}
.sec2buttons{
    background-color: white;
    padding-top: 20px;

}
.but2{
    padding: 65px;
    border-radius:14px;
    border-color: #3882f6;
    background-color: white;
    margin-left: 15px;
    margin-right:15px ;
}

/* Content 3*/
.content3{
    background-color: #e5e7eb;
     
}
.quote{
    font-size: 36px;
    font-family:"light italic";
    color: #1F2937;
    max-width: 1085px;
    padding-left:500px;
    padding-right: 500px;
    padding-top: 100px;
}
.credentials{
    font-size: 22px;
    font-weight: bold;
    color: #060c13;
    padding-left: 980px;
    padding-bottom: 50px;
}

/* Content 4 */
.content4{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.bigbutton{
    padding:55px 400px;    
    background-color: #3882f6;
    border:0;
    border-radius:14px;
    margin-left:450px;
    margin-top: 50px;
    display: inline;
}
.text{
    display: inline;
    justify-content:center;
    padding: 50px;
}
.smallbutton{


}

/* Footer */
.footer{
    display:flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e5eb;
}
.bb{
    padding:20px;
}